<div class="post">
  <div class="postWrapper">
    <div class="postTop">
      <div class="postTopLeft">
        <img class="postProfileImg" src="/assets/images/userIcon.jpg" alt="" />
        <span class="postUsername"> {{post.user.firstname | titlecase}} {{post.user.lastname | titlecase}}</span>
        <span class="postDate">{{ formatPostDate(post.creationDate) }}</span>
      </div>
      <div class="postTopRight">
        <button *ngIf="isOwner" class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <!-- <mat-icon>edit</mat-icon> -->
            <i class="fa-regular fa-pen-to-square editIcon"></i>
            <span>Update</span>
          </button>
          <button mat-menu-item (click)="deletePost()">
            <!-- <mat-icon>delete</mat-icon> -->
            <i class="fa-solid fa-trash trashIcon"></i>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="postCenter">
      <span class="postText">{{ post.description }}</span>
      <!-- <img class="postImg" src="assets/images/Image_test.png" alt="Image post" /> -->
      <div *ngIf="post.image">
        <img class="postImg" [src]="post.image" alt="Post Image" />
      </div>
    </div>
    <div class="postBottom">
      <div class="postBottomLeft">
        <img class="likeIcon" src="assets/images/{{ hasLiked(post) ? 'liked.png' : 'likee.png' }}"
          alt="{{ hasLiked(post) ? 'Unlike' : 'Like' }}" (click)="handleLike(post)" />
        <span class="postLikeCounter" matTooltip="{{ getUserLikesTooltip(post) }}" >{{ post.likes.$values.length }} {{ post.likes.$values.length === 1 ? 'like' : 'likes' }}</span>
      </div>

      <div class="postBottomRight">
        <img class="commentIcon" src="assets/images/comments.png" alt="Comments" />
        <span class="postCommentText" (click)="toggleShow()"> Comments ({{post.commentCount}})</span>
      </div>
    </div>

    <div *ngIf="show">
      <app-post-comment [postId]="post.postId"></app-post-comment>
    </div>
  </div>
</div>