<div class="post">
  <div class="postWrapper">
    <div class="postTop">
      <div class="postTopLeft">
        <img class="postProfileImg" src="/assets/images/userIcon.jpg" alt="" />
        <span class="postUsername"> {{post.user.firstname }} {{post.user.lastname }}</span>
        <span class="postDate">{{ formatPostDate(post.creationDate) }}</span>
      </div>
      <div class="postTopRight" >
        <button *ngIf="isOwner" class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon>edit</mat-icon>
            <span>Update Post</span>
          </button>
          <button mat-menu-item (click)="deletePost()">
            <mat-icon>delete</mat-icon>
            <span>Delete Post</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="postCenter">
      <span class="postText">{{ post.description }}</span>
      <!-- <img class="postImg" src="assets/images/Image_test.png" alt="Image post" /> -->
      <div *ngIf="post.image">
        <img class="postImg" [src]="post.image" alt="Post Image" />
      </div>
    </div>
    <div class="postBottom">
      <ng-container *ngIf="!hasLiked(post)">
        <div class="postBottomLeft">
          <img class="likeIcon" src="assets/images/likee.png" alt="Like" (click)="likePost(post.postId)" />
          <span class="postLikeCounter">{{ post.likes.$values.length }} {{ post.likes.$values.length === 1 ? 'like' : 'likes' }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="hasLiked(post)">
        <div class="postBottomLeft">
          <img class="likeIcon" src="assets/images/liked.png" alt="Unlike" (click)="unlikePost(post.postId)" />
          <span class="postLikeCounter">{{ post.likes.$values.length }} {{ post.likes.$values.length === 1 ? 'like' : 'likes' }}</span>
        </div>
      </ng-container>
    
      <div class="postBottomRight">
        <img class="commentIcon" src="assets/images/comments.png" alt="Comments" />
        <span class="postCommentText" (click)="toggleShow()"> Comments ({{post.commentCount}})</span>
      </div>
    </div>
    
    <div *ngIf="show">
      <app-post-comment [postId]="post.postId"></app-post-comment>
    </div>
  </div>
</div>