<div className='PostContainer'>
    <div className='SubPostContainer'>
        <div *ngIf="show" style="padding: 15px;">
            <div style="display: flex; align-items: center; padding-top: 1em; padding-left: 1em;">
                <img [src]=" 'https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
                    class="PostImage" alt="" />
                <!-- Uncomment if needed: <p style="margin-left: 6px;">Suman</p> -->
                <input type="text" class="commentinput" placeholder="Write your thought" [(ngModel)]="commentContent" />
                <button class="addCommentbtn" (click)="handleComment()">Post</button>
            </div>
            <!-- <div *ngFor="let comment of comments" style="align-items: center;padding-top: 1.5em; padding-left: 1em;">
                <div style="display: flex; align-items: center;">
                    <img [src]=" 'https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
                        class="PostImage" alt="" />
                    <p style="margin-left: 6px; font-size: 18px; margin-top: 6px;">{{comment.user.firstname}} {{comment.user.lastname}}</p>
                </div>
                <p style="margin-left: 55px; text-align: start; margin-top: -16px;">{{comment.content}}</p>
                <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">Reply
                </p>
            </div> -->
            <div *ngFor="let comment of displayedComments"
                style="align-items: center; padding-top: 1.5em; padding-left: 1em;">
                <div style="display: flex; align-items: center;">
                    <img src="https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="PostImage" alt="" />
                    <p style="margin-left: 6px; font-size: 18px; margin-top: 6px;">{{ comment.user.firstname }} {{
                        comment.user.lastname }}</p>
                </div>
                <p style="margin-left: 55px; text-align: start; margin-top: -16px;">{{ comment.content }}</p>
                <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">Reply
                </p>
            </div>
            <button *ngIf="loadedCommentsCount < comments.length" class="loadMoreBtn" (click)="onLoadMoreClick()">Load
                More</button>
        </div>
    </div>
</div>