.SubPostContainer {
    width: 93%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
  }
  
  .PostImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -13px;
  }

  .PostImagee {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 25px;
  }
  
  .PostImages {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .iconsforPost {
    width: 20px;
  }
  
  .moreicons {
    width: 20px;
    margin-left: 380px;
  }
  


  .commentinput {
    width: 100%;
    height: 3em;
    margin-left: 10px;
    border: none;
  }
  
  .addCommentbtn {
    padding: 9px;
    border: none;
    background-color: rgb(112, 134, 233);
    color: white;
    border-radius: 6px;
    margin-left: 39px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
  }

  .addCommentbtn:hover{
    background-color: rgb(40, 73, 223);
  }

  .loadMoreBtn {
    padding: 6px;
    border: none;
    background-color: rgb(53, 71, 150);
    color: white;
    border-radius: 6px;
    margin-left: 39px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.loadMoreBtn:hover {
    background-color: rgb(16, 61, 207); /* New background color on hover */
}
  