<div className='PostContainer'>
    <div className='SubPostContainer'>
        <div *ngIf="show" style="padding: 15px;">
            <div style="display: flex; align-items: center; padding-top: 1.3em; padding-left: 1em;">
                <img class="PostImage" [src]="user?.profileImage ? 'data:image/jpeg;base64,' + user?.profileImage : 'assets/images/userIcon.png'" alt="" />
                <input type="text" class="commentinput" placeholder="Write your thought {{ user?.firstname | titlecase }}" 
                [(ngModel)]="commentContent" />
                <button class="addCommentbtn" (click)="handleComment()">Post</button>
            </div>
            <div *ngFor="let comment of displayedComments"
                style="align-items: center; padding-top: 1em; padding-left: 1em;">
                <div style="display: flex; align-items: center;">
                    <img class="PostImagee" [src]="user?.profileImage ? 'data:image/jpeg;base64,' + user?.profileImage : 'assets/images/userIcon.png'" alt="" />

                    <p style="margin-left: 1em; font-size: 16px; margin-top: 1em;">
                        {{ comment.user.firstname | titlecase}} {{ comment.user.lastname | titlecase}}
                    </p>
                    <button *ngIf="user?.id == comment.userId" mat-menu-item class="trashIcon" (click)="deleteComment(comment.commentId)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
                <p style="margin-left: 60px; text-align: start; font-size: 14px;  margin-top: -18px;">{{
                    comment.content}}</p>
                <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">
                    Reply</p>
            </div>
            <button *ngIf="loadedCommentsCount < comments.length" class="loadMoreBtn" (click)="onLoadMoreClick()">Load
                more</button>
        </div>
    </div>
</div>