<mat-card>
    <mat-card-header>
        <div class="header-container">
            <div class="header-left">
                <h1>Files Listing</h1>
            </div>
            <div class="header-center">
                <!-- <i class="fal fa-search"></i> -->
                <mat-form-field appearance="outline">
                    <mat-label>Search a file by name or content...</mat-label>
                    <input matInput placeholder="Search...">
                </mat-form-field>
            </div>
            <div class="header-right">
                <button class="btnAddFile" mat-raised-button (click)="openDialog()">Add a file</button>
            </div>
        </div>
    </mat-card-header>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">No.</th>
            <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Author">Author</th>
            <td mat-cell *matCellDef="let element">{{element.author}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Description">
                Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <!-- Version Column -->
        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by version">Version</th>
            <td mat-cell *matCellDef="let element">{{element.version}}</td>
        </ng-container>

        <!-- Upload Date Column -->
        <ng-container matColumnDef="uploadDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by upload date">Upload
                Date</th>
            <td mat-cell *matCellDef="let element">{{element.uploadDate | date}}</td>
        </ng-container>

        <!-- Downloads Column -->
        <ng-container matColumnDef="downloads">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by downloads">
                Downloads
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.downloads }}
                <button mat-icon-button (click)="downloadFile(element.entityName)">
                    <!-- <mat-icon aria-label="Download file">download</mat-icon> -->
                    <i style="color: rgb(38, 97, 165);" class="fa-solid fa-file-arrow-down"></i>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
            <td mat-cell *matCellDef="let element">
                <div class="star-container" (click)="handleRateFile(element)">
                    <i *ngIf="hasRatedMap[element.id]; else notRated" class="fa-solid fa-star starRated"></i>
                    <ng-template #notRated>
                        <i class="fa-regular fa-star starRate"></i>
                    </ng-template>
                    <div class="rate-number">{{ element.rates }}</div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>