

table {
    width: 50%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

mat-card {
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
}
.mat-mdc-raised-button{
    width:auto;
}

.table-header{
background-color: blue;
color: white;
}

 mat-form-field {
  display: flex;
  margin-left: 50%;
  width: 80%;
  } 

  .header-container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .header-left {
    margin-left: 2em;
    flex: 1;
    text-align: left;
  }
  
  .header-center {
    flex: 1;
    text-align: center;
  }
  
  .header-right {
    flex: 1;
    text-align: right;
    margin-bottom: 1em;
  }
  
  .btnAddFile{
    margin-right: 2em;
    color: azure;
    background-color: rgb(11, 165, 231);
  }
  

  /* Rating Icon and Number  */
  .starRate {
    color: gold;
    border-color: gold;
    font-size: 18px;
  }

  
  .starRated {
    font-size: 18px;
    color: gold;
    border-color: gold;
    
  }

  .star-container {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
}

.star-container > div {
    margin-right: 5px; /* Optional: Adds space between elements */
}

.star-container .rate-number {
    margin-left: 5px; /* Optional: Adds space between stars and rate number */
}

.fileDownlaodicon {
  font-size: 10px;
  max-width: 2.5em;
  max-height: 2.5em;
  margin-left: 2em;
}