table {
  width: 50%;
  border-collapse: collapse;
}

.table {
  width: 95%;
  border-collapse: collapse;
  table-layout: fixed;
}

th.mat-sort-header-sorted {
  color: rgb(199, 37, 37);
}

mat-card {
  margin: 2% auto;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  border: 1px solid #ccc;
  overflow: hidden;
}

.mat-mdc-raised-button {
  width: auto;
}

.table-header {
  background-color: blue;
  color: white;
}


mat-form-field {
  margin-left: 50%;
  width: 100%;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  flex: 1;
  text-align: left;
}


.header-center {
  flex: 1;
  text-align: center;
}

.header-right {
  flex: 2;
  text-align: right;
  margin-bottom: 1em;
}

.btnAddFile {
  color: azure;
  background-color: rgb(11, 165, 231);
}

.btnAddFile:hover {
  background-color: rgb(175, 223, 247);
  color: rgb(11, 165, 231);
  cursor: pointer;
}

.icon{
  margin: 1rem;
  color: white;
  font-size: 18px;
}

.tableTitle {
  position: relative;
  left: -1em;
  margin: 0;
  font-size: 2em;
  color: #333;
}

.btnTags {
  margin-left: 1em;
  color: azure;
  background-color: rgb(11, 165, 231);
}

.btnCancelTags {
  margin-left: 1em;
  color: azure;
  background-color: rgb(219, 30, 30);
}

.btnTags:hover {
  background-color: rgb(175, 223, 247);
  color: rgb(11, 165, 231);
  cursor: pointer;
}


/* Rating Icon and Number  */
.starRate {
  font-size: 18px;
  color: gold;
  border-color: gold;
}


.starRated {
  font-size: 18px;
  border-color: gold;
  color: gold;
}

.star-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}

.rate-number {
  margin-left: 5px;
  display: inline-block;
}

.star-container>div {
  margin-right: 5px;
}


.fileDownlaodicon {
  font-size: 10px;
  max-width: 2.5em;
  max-height: 2.5em;
  margin-left: 2em;
}