<div id="homeComp">

    <app-share-post (postAdded)="onPostAdded()"></app-share-post>

    <div *ngFor="let post of posts">
        <app-post-card [post]="post" (postDeleted)="onPostDeleted()" (likePost)="onPostLiked()"
            (unlikePost)="onPostUnliked()"></app-post-card>
    </div>

    <div *ngIf="loading">Loading more posts...</div>
    <div *ngIf="!hasMorePosts">No more posts to display.</div>
    <!-- <button (click)="onCreatePostClick()" mat-fab color="warn" id="post-button">
        <mat-icon>add</mat-icon>
    </button> -->
</div>