#post-button {
    position: fixed;
    bottom: 3em;
    right: 3em;
}


#post-feed {
    width: 80%;
    max-width: 100%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

#homeComp {
    width: auto;
    /* Adjust width as per your layout */
    margin: 2em 20%;
    /* Vertical margin top and bottom of 2em, and auto left and right margin for centering */
    
}


/* Example of adjusting card components */
app-share-post,
app-post-card {
    width: auto;
    margin-bottom: 1em;
}