#post-button {
    position: fixed;
    bottom: 3em;
    right: 3em;
}


#post-feed {
    width: 80%;
    max-width: 100%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

#homeComp {
    width: auto;
    /* Adjust width as per your layout */
    margin: 2em 20%;
    overflow: auto;   
}


/* Example of adjusting card components */
app-share-post,
app-post-card {
    width: auto;
    margin-bottom: 1em;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Full viewport height */
  }
  
  