<div style="padding: 10px;">
    <div style="display: flex; align-items: center;">
        <img [src]=" 'assets/Profile.png'" class="PostImage" alt="" />
        <input type="text" class="commentinput" placeholder="Write your thought" />
        <button class="addCommentbtn" (click)="handleComment()">Post</button>
    </div>
    <!-- <div *ngFor="let item of Comments" style="align-items: center;">
      <div style="display: flex; align-items: center;">
        <img [src]="item.profile || 'https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" class="PostImage" alt="" />
        <p style="margin-left: 6px; font-size: 18px; margin-top: 6px;">{{ item.username }}</p>
      </div>
      <p style="margin-left: 55px; text-align: start; margin-top: -16px;">{{ item.comment }}</p>
      <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">Reply</p>
    </div> -->
    <div style="align-items: center;">
        <div style="display: flex; align-items: center;">
            <img [src]="'https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
                class="PostImage" alt="" />
            <p style="margin-left: 6px; font-size: 18px; margin-top: 6px;">username</p>
        </div>
        <p style="margin-left: 55px; text-align: start; margin-top: -16px;">comment </p>
        <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">Reply</p>
    </div>
    <div style="align-items: center;">
        <div style="display: flex; align-items: center;">
            <img [src]="'https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
                class="PostImage" alt="" />
            <p style="margin-left: 6px; font-size: 18px; margin-top: 6px;">username </p>
        </div>
        <p style="margin-left: 55px; text-align: start; margin-top: -16px;">comment</p>
        <p style="margin-left: 55px; text-align: start; margin-top: -10px; color: #aaa; font-size: 11px;">Reply</p>
    </div>
</div>