@if(showmenu){
<div>
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Hi, {{ capitalizeFirstLetter(user?.firstname) }}</span>
        <!-- <span>Dashboard</span> -->
        <span class="example-spacer"> </span>

        <button mat-button [matMenuTriggerFor]="profile">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #profile>
            <button mat-menu-item routerLink="/profile"><i class="fa-regular fa-user"
                    style="padding-left: 0.2em; padding-right: 1em;"></i>
                Profile</button>
            <button mat-menu-item (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
                Logout</button>
        </mat-menu>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">

            <mat-nav-list>
                <mat-list-item>
                    <button mat-button routerLink=""><img class="iconMenu" src="assets/images/dashboard.png" alt="icon">
                        Feed </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/forum"><img class="iconMenu" src="assets/images/forum.png"
                            alt="icon">Forum</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/myfiles"><img class="iconMenu" src="assets/images/files.png"
                            alt="icon">My
                        files</button>
                </mat-list-item>
            </mat-nav-list>

        </mat-drawer>
        <mat-drawer-content>
            <div>
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
}@else{
<div>
    <router-outlet></router-outlet>
</div>
}