@if(showmenu){
    <div class="layout">
        <mat-toolbar class="mat-elevation-z8 toolbar">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/dashboard">
                <img class="logoIcon" src="assets/images/favicon.png" alt="icon">
            </a>            
            <span style="margin-left: 2em;">Hi, {{ capitalizeFirstLetter(user?.firstname) }}</span>
            <span class="example-spacer"> </span>
    
            <button mat-button [matMenuTriggerFor]="profile" style="margin-right: 2em;">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="homeIcon"></mat-icon>
                <mat-icon class="homeIcon">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #profile>
                <button mat-menu-item routerLink="/profile">
                    <i class="fa-regular fa-user" style="padding-left: 0.2em; padding-right: 1em;"></i>
                    Profile
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
                    Logout
                </button>
            </mat-menu>
        </mat-toolbar>
        <mat-drawer-container class="drawer-container">
            <mat-drawer class="leftDrawer" #drawer opened="true" mode="side" position="start">
                <mat-nav-list>
                    <mat-list-item class="listItem" routerLink="">
                        <button mat-button>
                            <img class="iconMenu" src="assets/images/dashboard.png" alt="icon"> Feed 
                        </button>
                    </mat-list-item>
                    <mat-list-item class="listItem" routerLink="/forum">
                        <button mat-button>
                            <img class="iconMenu" src="assets/images/forum.png" alt="icon"> Forum
                        </button>
                    </mat-list-item>
                    <mat-list-item class="listItem" routerLink="/myfiles">
                        <button mat-button>
                            <img class="iconMenu" src="assets/images/files.png" alt="icon"> My files
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content class="drawer-content">
                <div>
                    <router-outlet></router-outlet>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
    }@else{
    <div>
        <router-outlet></router-outlet>
    </div>
    }
    