.h-screen {
    height: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.container {
    width: 100%;
    max-width: 50rem;
    max-height: fit-content;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my8 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.p-8 {
    padding: 2rem;
}

.bg-white {
    background-color: rgb(223, 215, 215);
}

.shadow-md {
    box-shadow: 2px 6px 8px rgba(27, 67, 169, 0.2);
}

.rounded-md {
    border-radius: 2.5rem;
}

.max-w-md {
    max-width: 45rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-gray-600 {
    color: #404a5b;
}

.font-bold {
    font-weight: 700;
}

.mb-4 {
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.rounded-full {
    border-radius: 50%;
}

.bg-blue-500 {
    background-color: #4299e1;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.w-24 {
    width: 6rem;
}

.h-24 {
    height: 6rem;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: white;
}

.border-slate-400 {
    border-color: #cbd5e0;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gap-4 {
    gap: 1rem;
}

.text-gray-800 {
    color: #2d3748;
}

.font-medium {
    font-weight: 500;
}

.text-xs {
    font-size: 0.75rem;
}

.bg-green-700 {
    background-color: #0ad06d;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



.postProfileImg {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
}

.shareButton {
    margin: 1em;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(36, 101, 222);
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.btnAddFile{
    margin-right: 2em;
    color: azure;
    background-color: rgb(11, 165, 231);
  }