<mat-tab-group mat-stretch-tabs >

    @if (savedPosts) {
        <mat-tab label="Saved posts">
            <div *ngFor="let post of savedPosts">
                <div class="cardContainer">
                    <app-post-card [post]="post"></app-post-card>
                </div>
            </div>
        </mat-tab>
    } @else {
    <div class="file-container">
        You didn't saved any post !
    </div>
    }

    @if (myPosts) {
        <mat-tab label="My posts">
            <div *ngFor="let post of myPosts">
                <div class="cardContainer">
                    <app-post-card [post]="post"></app-post-card>
                </div>
            </div>
        </mat-tab>
    } @else {
    <div class="file-container">
        You didn't added any post !
    </div>
    }

    <mat-tab label="My files">
        <div class="fileCardContainer">
            @if (myFiles) {
            <div *ngFor="let file of myFiles" class="cardWrapper">
                <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>{{ file.entityName }}</mat-card-title>
                            <mat-card-subtitle>{{ file.author }}</mat-card-subtitle>
                            <button class="btnDeleteFile" mat-raised-button (click)="deleteFile(file.id)">Delete
                                file</button>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ file.description }}</p>
                    </mat-card-content>
                    <mat-card-footer class="example-card-footer">
                        <mat-chip-set aria-label="Chihuahua traits">
                            <mat-chip>Upload date: {{ file.uploadDate | date: 'short' }}</mat-chip>
                            <mat-chip>version: {{ file.version }}</mat-chip>
                            <mat-chip><i style="color: rgb(38, 97, 165);" class="fa-solid fa-file-arrow-down"></i>
                                {{ file.downloads }}</mat-chip>
                            <mat-chip><i class="fa-solid fa-star starRated"></i>{{ file.rates }}</mat-chip>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>
            </div>
            } @else {
            <div class="file-container">
                You didn't uploaded any file !
            </div>
            }
        </div>
    </mat-tab>

</mat-tab-group>