.container {
  display: flex;
    flex-direction: column;
  justify-content: center;
  height: 98%;
  width: 97%;
}

.file-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  text-align: center;
  min-height: 85vh;
  height: auto;
}

.example-stretched-tabs {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px;
}

.example-large-box {
  height: 97%;
  width: 97%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}


.myPostsCards .savedPostsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  padding: 5em;
  height: 95%;
  width: 90%;
}


/* My Files */
.example-card {
  display: flex;
  justify-content: center;
  margin: 1.5em;
  width: 400px;
  max-width: 600px;

}

.example-card-footer {
  padding: 16px;
}

/* /// */
.tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.post-container{
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 2em;
}

.file-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ///// ICON //// */
.starRated {
  font-size: 18px;
  border-color: gold;
  color: gold;
}

.btnDeleteFile {
  margin-right: 1em;
  color: white;
  background-color: rgba(226, 23, 23, 0.966);
}

app-post-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
}
.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 650px;
  height: auto;
}

mat-tab-group{
  min-height: 90vh;
}

.fileCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  gap: 13px; /* Space between cards */
  min-height: 85vh;
}

.cardWrapper {
  flex: 1 1 calc(63.333% - 82px); /* Adjust the percentage to control the number of cards per row */
  box-sizing: border-box;
  min-width: 300px; /* Minimum width for the card */
  max-width: 400px; /* Maximum width for the card */
  min-height: 100%;
}